<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="constainer bg-gray-200 w-1/2 p-4 mx-auto mt-4">
        <h1 class="text-2 font-bold" data-th-text="${name}">Welcome to home page</h1>
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsum exercitationem, non ab sed maiores beatae voluptas nam minus hic dicta quia est labore nemo iste modi! Fuga, soluta nobis?</p>

    </div>
</body>
</html>